


<mat-sidenav-container class="example-container" >
    <mat-sidenav  role="navigation" #sidenav>
        <p>
            content
        </p> </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <span>My Application</span>
          
          <div>
<button  class="primary" (click)="sidenav.toggle()" mat-icon-button><mat-icon>  menu</mat-icon> </button>
</div>

<div>
    Logo
</div>

<div fxFlex fxLayout fxLayoutAlign="flex-end">
    <a routerLink="/signup">SignUp</a>
    <a routerLink="/signup">Login</a>
    <a routerLink="/signup">Training</a>

</div>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>
       
    </mat-sidenav-content>
  </mat-sidenav-container>

  